.container .head{
    position:absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 15px;

}
.container .head img{
    width: 13%;
}

.container .head a {
    color:#fff ;
    text-decoration: none;
    background: color #e50914; ;
    padding:8px 18px ;
    border-radius: 5px;
    
}

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.banner .fit{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;


}

